actionlib==1.11.13
affine==2.2.2
attrs==19.1.0
Cartopy==0.17.0
catkin==0.7.18
CDAPack==0.0.1
cftime==1.0.3.4
Click==7.0
click-plugins==1.1.1
cligj==0.5.0
cv-bridge==1.12.8
cycler==0.10.0
Cython==0.29.11
dynamic-reconfigure==1.5.50
dynamixel-sdk==3.7.0
Fiona==1.8.6
gencpp==0.6.0
geneus==2.2.6
genlisp==0.4.16
genmsg==0.5.11
gennodejs==2.0.1
genpy==0.6.7
geopandas==0.5.0
kiwisolver==1.1.0
matplotlib==3.1.1
message-filters==1.12.14
munch==2.3.2
netCDF4==1.5.1.2
numpy==1.16.4
pandas==0.24.2
pluginlib==1.11.3
pyparsing==2.4.0
pyproj==2.2.1
pyshp==2.1.0
python-dateutil==2.8.0
python-qt-binding==0.3.4
pytz==2019.1
qt-dotgraph==0.3.11
qt-gui==0.3.11
qt-gui-cpp==0.3.11
qt-gui-py-common==0.3.11
rasterio==1.0.24
rosbag==1.12.14
rosclean==1.14.6
rosgraph==1.12.14
roslaunch==1.12.14
roslib==1.14.6
roslz4==1.12.14
rosmaster==1.12.14
rosmsg==1.12.14
rosnode==1.12.14
rosparam==1.12.14
rospy==1.12.14
rosservice==1.12.14
rostest==1.12.14
rostopic==1.12.14
rosunit==1.14.6
rqt-action==0.4.9
rqt-bag==0.4.12
rqt-bag-plugins==0.4.12
rqt-console==0.4.8
rqt-dep==0.4.9
rqt-graph==0.4.9
rqt-gui==0.5.0
rqt-gui-py==0.5.0
rqt-image-view==0.4.13
rqt-launch==0.4.8
rqt-logger-level==0.4.8
rqt-msg==0.4.8
rqt-plot==0.4.8
rqt-publisher==0.4.8
rqt-py-common==0.5.0
rqt-py-console==0.4.8
rqt-reconfigure==0.4.10
rqt-service-caller==0.4.8
rqt-shell==0.4.9
rqt-srv==0.4.8
rqt-top==0.4.8
rqt-topic==0.4.10
rqt-web==0.4.8
scipy==1.3.0
sensor-msgs==1.12.7
Shapely==1.6.4.post2
six==1.12.0
smclib==1.8.3
snuggs==1.4.6
topic-tools==1.12.14
xarray==0.12.2
